{
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {

    "no-extra-parens": 2,
    "no-template-curly-in-string": 2,
    "no-unsafe-negation": 2,
    "array-callback-return": 2,
    "curly": 2,
    "dot-location": [2, "property"],
    "dot-notation": 2,
    "eqeqeq": 1,
    "guard-for-in": 2,
    "keyword-spacing": 2,
    "no-else-return": 2,
    "no-extra-bind": 2,
    "no-floating-decimal": 2,
    "no-global-assign": 2,
    "no-invalid-this": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 2,
    "no-multi-spaces": 2,
    "no-new-wrappers": 2,
    "no-new-func": 2,
    "no-param-reassign": 1,
    "no-return-assign": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-throw-literal": 2,
    "no-unmodified-loop-condition": 2,
    "no-useless-call": 2,
    "no-useless-concat": 2,
    "no-with": 2,
    "radix": 2,
    "space-infix-ops": 2,
    "vars-on-top": 2,
    "wrap-iife": 1,
    "yoda": 2,

    "brace-style": [2, "1tbs", {"allowSingleLine": true}],
    "camelcase": [2, {"properties": "never"}],
    "comma-style": [2, "last"],
    "comma-spacing": 2,

    "arrow-spacing": 2,
    "indent": [2, 2],
    "no-var": 2,
    "prefer-const": 2,
    "prefer-spread": 2,
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "strict": [2, "never"],

    "prefer-object-spread/prefer-object-spread": 2,
    "no-constant-condition": 0,
    "object-curly-spacing": [2, "always"]
  },
  "plugins": [
    "prefer-object-spread"
  ]
}
